html {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}


body {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;	
	height: 900px;
}

.header {
	height: 103px;
	background: #fff;
	display: flex;
	align-items: center;
}

.container {
	color: #242626;
	display: flex;
	align-items: center;

}

.logo {
	color: #E91F1F;
	font-size: 35px;
	margin-top: 25px;
	padding-left: 30px;	
	margin-bottom: 25px;
	font-style: bold;
	font-weight: bold;
}	

.nav {
	font-size: 20px;
	padding-left: 62px;
	display: flex;
	align-items: center;
	color: #242626;

}
.main1 {
	font-size: 20px;
	margin-left: 70px;
	font-family: 'Oswald', sans-serif;
	font-weight: 525;
	text-decoration: none;
	color: #242626;
	border-bottom: 1px solid #E9E9E9;
	transition: all 0.3s ease;
}

.main1:hover {
	color: #575757;
	transform: translateY(-3px);
	border-bottom: 1px solid #575757;
}

.main3 {
	margin-left: 62px;
	color: #E91F1F;
	white-space: nowrap;
	font-weight: 525;
	text-decoration: none;
	border-bottom: 1px solid #E0A6A6;
	transition: all 0.3s ease;
}

.main3:hover {
	transform: translateY(-3px);
	border-bottom: 1px solid #E91F1F;
}

.main4 {
	margin-left: 62px;
	font-family: 'Oswald', sans-serif;
	font-weight: 525;
	text-decoration: none;
	color: #242626;
	border-bottom: 1px solid #E9E9E9;
	transition: all 0.3s ease;

}

.main4:hover {
	color: #575757;
	transform: translateY(-3px);
	border-bottom: 1px solid #575757;

}

.wb {
	margin-left: 20px;
	color: #E91F1F;
	white-space: nowrap
	font-weight: 505;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	transition: all 0.3s ease;
}

.wb:hover {
	transform: translateY(-3px);
	border-bottom: 1px solid #E91F1F;
}

.wbpic {
	width: 37px;
	height: 37px;
	margin-left: 550px;
}

.header__content{
  background-image: url(img/Bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: calc(100vh - 93px);
  height: 1080px;
  display: flex;
  align-items: center;
}

.left {
	position: absolute;
	width: 575px;
	height: 760px;
	left: 235px;
	top: 70px;
	color: #000000;
	opacity: 0.7;
	background: #722626;
	position: relative;
	align-content: center;
	align-items: center;
	text-align: center;
	margin-left: -100px;
	margin-right: 210px;
	transition: all 0.3s ease;

}

.left:hover {
	transform: translateY(-10px);
	box-shadow: 0 5px 15px white;
}

.imgten {

}

.he {
	
	font-style: normal;
	font-weight: 400;
	font-size: 250px;
	line-height: 370px;
	letter-spacing: 0.2em;
	color: #fff;
	position: absolute;
	top: 0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 200px;
    margin-right: 125px;
    margin-left: 125px;
}

.right {
	position: absolute;
	width: 575px;
	height: 760px;
	left: 235px;
	top: 70px;
	color: #000000;
	opacity: 0.7;
	background: #722626;
	position: relative;
	align-content: center;
	align-items: center;
	text-align: center;
	margin-left: -100px;
	margin-right: 100px;
	transition: all 0.3s ease;
}

.right:hover {
	transform: translateY(-10px);
	box-shadow: 0 5px 15px white;
}

.imgtwelwe {

	
}

.she {
	font-style: normal;
	font-weight: 400;
	font-size: 250px;
	line-height: 370px;
	letter-spacing: 0.2em;
	color: #fff;
	position: absolute;
	top: 0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 40px;

}


